.book-segment {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
}

.book-segment > header > h3 {
  font-size: 1rem;
}

.book-segment > header,
.book-segment > .book-segment-body > .book-segment-row {
  display: flex;
}

.book-segment-info {
  background-color: var(--dark-blue);
  display: flex;
  position: relative;
  padding: 0.5rem 0;
  opacity: 0.8;
  z-index: 2;
  width: 100%;
}

.book-segment-row.red .price {
  color: var(--text-red);
}

.book-segment-row.green .price {
  color: var(--text-green);
}

.book-segment-info > div {
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}

.book-segment-row {
  position: relative;
  z-index: 100;
}

.book-segment-row > svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.book-segment-row > svg.right {
  transform: rotate(180deg);
}

.book-segment > header > h3 {
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}

.book-segment-row > div {
  font-size: 0.8rem;
  font-weight: 600;
}

.book-segment-body {
  flex-direction: column;
}

.book-segment h3 {
  color: var(--dark-text-color);
  font-size: 1rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .book-segment-row > svg.right {
    transform: none;
  }
}