.order-book-container {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  min-height: 100vh;
}

.order-book-container header,
.buy-container,
.sell-container {
  background-color: var(--dark-blue);
  color: var(--default-text-color);
}

.order-book-container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.order-book-container header select {
  background-color: var(--light-blue);
  border: none;
  border-radius: var(--all-rounded-corners);
  color: var(--default-text-color);
}

.order-book-body {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.buy-container,
.sell-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  flex-direction: row;
}

.buy-container {
  order: 1;
}

.sell-container {
  order: 2;
}

.buy-container {
  margin-right: 0.15rem;
}

.buy-container .total {
  order: 1;
}

.buy-container .size {
  order: 2;
}

.buy-container .price {
  order: 3;
}

.order-book-container header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.order-book-footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem 0.5rem 1rem;
}

.order-book-footer > .primary {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .order-book-body {
    flex-direction: column;
  }

  .sell-container,
  .buy-container {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .buy-container h3 {
    display: none;
  }

  .buy-container {
    order: 2;
  }

  .sell-container ol {
    transform: rotate(180deg);
  }

  .sell-container ol li {
    transform: rotate(-180deg);
  }

  .buy-container .price {
    order: 1;
  }

  .buy-container .total {
    order: 3;
  }

  .sell-container {
    order: 1;
  }
}