html, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-blue: #242d3c;
  --dark-blue: #111827;
  --default-text-color: #c5c8cd;
  --dark-text-color: #545B69;
  --bright-blue: #5640d8;
  --bright-red: #b81c1c;
  --all-rounded-corners: 3px;
}

button {
  border: none;
  border-radius: var(--all-rounded-corners);
  color: var(--default-text-color);
  font-weight: bold;
  padding: 0.5rem;
}

button.primary {
  background-color: var(--bright-blue);
}

button.danger {
  background-color: var(--bright-red);
}
